
		/*
		* Default View Styling
		*/
		div.default_product_display div.textcol{
			margin-left: 150px !important;
			min-height: 190px;
			_height: 190px;
		}

		div.default_product_display  div.textcol div.imagecol{
			position:absolute;
			top:0px;
			left: 0px;
			margin-left: -150px !important;
		}

		div.default_product_display  div.textcol div.imagecol a img {
			width: 140px;
			height: 190px;
		}

		.wpsc_category_grid_item  {
			display:block;
			float:left;
			width: 940px;
			height: 296px;
		}
		.wpsc_category_grid_item  span{
			position:relative;
			top:20.888888888889px;
		}
		div.default_product_display div.item_no_image a  {
			width: 138px;
		}

		div.default_product_display .imagecol img.no-image, #content div.default_product_display .imagecol img.no-image {
			width: 140px;
			height: 190px;
        }

		
		/*
		* Single View Styling
		*/

		div.single_product_display div.item_no_image  {
			width: 228px;
			height: 308px;
		}
		div.single_product_display div.item_no_image a  {
			width: 228px;
		}

		div.single_product_display div.textcol{
			margin-left: 240px !important;
			min-height: 310px;
			_height: 310px;
		}


		div.single_product_display  div.textcol div.imagecol{
			position:absolute;

			margin-left: -240px !important;
		}

		div.single_product_display  div.textcol div.imagecol a img {
			width: 230px;
			height: 310px;
		}

	div#categorydisplay{
		display: block;
	}

	div#branddisplay{
		display: none;
	}
