<div id="shoppingbag" class="condensed">

	<div id="bottom">
     <?php echo wpsc_shopping_cart(); ?> 
		<div class="col-1-2">
			<p>Subtotal:<br />
			<strong class="blue1">$0.00</strong>
			</p>
		</div>
	
			</div>
	
</div>

