#toggle,.nav-collapse {display:none;}
.flexslider .slides img {}

.zcss-viewport {margin:0 auto;text-align:center;}

.flexslider,#fs100{text-align:center;}

.flipper .back{display:none;}

#shoppingbag {text-align:left;}

label.wrapselect:before {content:"";}

.optionswrap input[type=radio],.addbooke input[type=radio],#checkhold input[type=checkbox] {display:inline;border:none;}

.optionswrap label:before,.addbooke label:before,.optionswrap label:hover:before,.addbooke label:hover:before,.optionswrap input[type=radio]:checked + label:before,.addbooke input[type=radio]:checked + label:before,#checkhold label:before,#checkhold label:hover:before,#checkhold input[type=checkbox]:checked + label:before {content:none;color:#fff;}