/* Browser Resets */
.zcss-container a:active,
.zcss a:active,
.zcss-container a:focus,
.zcss a:focus  {outline: none;}
.slides,
.zcss-control-nav,
.zcss-direction-nav {margin: 0; padding: 0; list-style: none;} 
#fs100 {overflow:hidden;}

#mainWrapper {padding-top:0;}
#mainWrapperSingle {padding-top:50px !important;}

.flexslider {margin:0 auto; padding: 0 20px;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;width:100%;position:relative;
max-width:940px;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {
display:block;
width:100%;
height:auto;
opacity:0.4;
/*-webkit-transition: all .7s ease;
filter: blur(2px) grayscale(0.2);
-webkit-filter: blur(2px) grayscale(0.2);
-moz-filter: blur(2px) grayscale(0.2);
-o-filter: blur(2px) grayscale(0.2);
-ms-filter: blur(2px) grayscale(0.2);
filter: blur(2px) grayscale(0.2);*/
 -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;
}

.flexslider .slides .slidetag {opacity:0;-webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.flexslider .slides .zcss-active-slide img,.flexslider .slides .zcss-active-slide .slidetag {
opacity:1;
/*filter: blur(0px);
-webkit-filter: blur(0px);
-moz-filter: blur(0px);
-o-filter: blur(0px);
-ms-filter: blur(0px);
filter: blur(0px) grayscale(0);
-webkit-filter: blur(0px) grayscale(0);
-moz-filter: blur(0px) grayscale(0);
-o-filter: blur(0px) grayscale(0);
-ms-filter: blur(0px) grayscale(0);*/
}

.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

.flexslider {
position:relative;
zoom:1;
max-width:980px;
width:100%;
padding:0 20px;
}

.zcss-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;overflow:visible!important;width:100%;max-width:940px;}
.loading .slides {display:none;}
.flexslider .slides {zoom: 1;}

/* Direction Nav */
.zcss-direction-nav {*height: 0;}
.zcss-direction-nav a {
text-align:center;
font-size:35px;
color:#0cbfe5;
display:block;
background:#fff;
position:absolute;
top:50%;
margin-top:-60px;
height:120px;
line-height:120px;
width:40px;
padding:0;
cursor:pointer;
opacity:0.8;
-webkit-transition: all .3s ease;
}

.zcss-direction-nav .zcss-next {right:20px;}
.zcss-direction-nav .zcss-prev {left:20px;}
.flexslider:hover .zcss-next,.flexslider:hover .zcss-prev,.flexslider:hover .zcss-next:hover, .flexslider:hover .zcss-prev:hover {opacity:1;}
.zcss-direction-nav .zcss-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

.slidetag {
max-width:40%;
position:absolute;
right:15%;
top:50%;
margin:-10% 0 0 ;
text-align:center;
color:#fff;
}

.topline {
border-top:1px solid #fff;
padding-top:1.2em;
}

.slidetag a {
background:#00bce4;
color:#fff;
padding:10px 20px;
font-size:1.8em;
margin:40px auto 0;
}

.slidetag a:after {font-size:0.8em;}

.slideline {
border-top:1px solid #fff;
float:left;
width:43%;
margin:1em 0 0;
}

.slidetag span.top {
float:left;
width:14%;
height:1em;
line-height:1em;
font-size:2em;
}

.slidetag a.condensed span {float:none;}

.slidetag p {
margin:0 0 40px;
font-family:'Arapey', serif;
font-size:2.4em;
clear:both;
line-height:1.4em;
border-bottom:1px solid #fff;
padding:0 0 0.5em;
}

/*#hatch {height:auto;border-bottom:1px solid #FFF;position:relative;}*/
.homePage {height:auto !important;border-bottom:1px solid #FFF !important;position:relative !important;}
#op{background:#4fd3f3;}
#ads{background:#7bdef6;border-left:1px solid #FFF;}
#ae{background:#a7e9f9;border-left:1px solid #FFF;}

#op,#ads,#ae {
overflow:hidden;
}

#op:hover,#ads:hover,#ae:hover {
background:#23c8f0;
}

#op img,#ads img,#ae img {
width:97%;
height:auto;
position:absolute;
bottom:0;
left:0;
-webkit-transition:all .1s ease-in-out;
-moz-transition:all .1s ease-in-out;
-o-transition:all .1s ease-in-out;
transition:all .1s ease-in-out;
}

#op .col-2-5,#ads .col-2-5,#ae .col-2-5 {
position:relative;
min-height:150px;
}

#op:hover img,#ads:hover img,#ae:hover img {
width:100%;
}

#op h1,#ads h2,#ae h3 {font-size:28px;font-family: 'Arapey', serif;margin:28% 0 4%;}
#op h1 a,#ads h2 a,#ae h3 a{color:#fff;}

#op a.condensed,#ads a.condensed,#ae a.condensed{
font-size:1.3em;
}

a.condensed {
text-transform:uppercase;
}

a.condensed:after {
font-family:'epice';
content:" \e00f";
}

a.condensed:hover,#op:hover a,#ads:hover a,#ae:hover a {color:#fff;}

a.condensed span {float:left;}
a.condensed span.icon {font-size:0.9em;}

#arrow {
width:0; 
height:0; 
border-left:40px solid transparent;
border-right:40px solid transparent;
border-top:40px solid #fff;
position:absolute;
bottom:-20px;
left:50%;
margin:0 0 0 -40px;
z-index:99;
color:#0cbfe5;
display:none;
}

#arrow:before {
font-family:'epice';
content:"\e003";
position:absolute;
left:-11px;
top:-34px;
font-size:22px;
}

@media screen and (max-height: 600px){
	#arrow {display:block;}
}

/* STOPS THE FLEXSLIDER JITTERY CARNAGE */
#socialfoot {
-webkit-transform: translateZ(0);
}