@import url("http://fonts.googleapis.com/css?family=Open+Sans:400,600,700|Open+Sans+Condensed:300|Arapey");


@font-face{font-family:'epice';
src:url('../fonts/epice.eot');
src:url('../fonts/epiced41d.eot?#iefix') format('embedded-opentype'),
url('../fonts/epice.woff') format('woff'),
url('../fonts/epice.ttf') format('truetype'),
url('../fonts/epice.svg#epice') format('svg');
font-weight:normal;
font-style:normal}


/* - - RESET - - */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, sub, sup, tt, var, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video,* {
margin:0;
padding:0;
border:0;
font-size:100%;
font:inherit;
vertical-align:baseline;
}
#commentFormbutton{
	display:none;
	}
*, *:after, *:before {-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box;}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display:block;}
ul {list-style:none;}
blockquote, q {quotes:none;}
blockquote:before, blockquote:after,q:before, q:after {content:'';content:none;}
a{text-decoration:none;}
table {border-collapse: collapse;border-spacing: 0;}
input[type="text"],input[type="password"],input[type="select"],input[type="submit"],textarea {-webkit-appearance:none;border-radius:0;outline:none;}

/* - - GLOBAL STYLES - - */

		/* - - FONT COLORS - -*/
		.main {color:#707070;}
		.s {color:#acacac;}
		.blue1,#createAcctSuccessMainContent a {color:#00bce4;}

		/* - - FONT SIZES - - */
		.head1 {font-size:32px;line-height:34px;}
		.head2 {font-size:24px;line-height:29px;}
		.sub1 {font-size:15px;line-height:1.6em;}
		.sub1a {font-size:21px;}
		.strong {font-size:16px;line-height:20px;font-weight:600;}
		.strong a {font-weight:normal;font-size:13px;}

		/* - - FONT FAMILIES - - */
		.condensed {font-family:'Open Sans Condensed';letter-spacing:1px;}
		.arapey {font-family:'Arapey';}
		
		/* - - ALIGN - - */
		.tar {text-align:right;}
		
		.upp {text-transform:uppercase;}
		
		/* - - CATEGORY COLORS - - */
		.cleansers,ul.cleansers li:before {color:#22c8f0;}
		.moisturizers,ul.moisturizers li:before,.for-men,ul.for-men li:before,.for-women,ul.for-women li:before {color:#8ddaed;}
		.serums,ul.serums li:before {color:#8692f4;}
		.specialties,ul.specialties li:before {color:#81db83;}
		.packages,ul.packages li:before {color:#d5d5d5;}
		.accessories,ul.accessories li:before {color:#707070;}
		.samples,ul.samples li:before {color:#E3AAD6;}		

		
		/* - - BUTTONS - - */
		.cssButton, .cssButtonHover,.pseudo {
		background:#00bce4;
		color:#fff;
		border:1px solid #00bce4;
		font-family:'Open Sans Condensed', sans-serif;
		font-size:1.5em;
		text-align:center;
		white-space:nowrap;
		text-decoration:none;
		text-transform:uppercase;
		padding:20px;
		cursor:pointer;
		-webkit-transition: all .2s ease-in-out;
		}

		.cssButtonHover,.pseudo:hover {
		text-decoration:none;
		background:#73e3ff;
		border:1px solid #73e3ff;
		}
		
		p {margin:0 0 1.5em;}
		
		.smooth,#mainpost a {
		-webkit-transition:all .2s ease-in-out;
		-moz-transition:all .2s ease-in-out;
		-o-transition:all .2s ease-in-out;
		transition:all .2s ease-in-out;
		}
		
		.pseudo:after {
		font-family:'epice';
		content:" \e00f";
		font-size:0.7em;
		}
		
		a.noafter:after{
		content:""!important;
		}
		
		a.pseudo {display:block;}
		
		a.backback:after{content:"";}
		a.backback:before{
		font-family:'epice';
		content:" \e010";
		font-size:0.7em;
		}
		
body {
font-family: 'Open Sans', sans-serif;
font-size:13px;
color: #7b7b7b;
line-height:20px;
background:#ebebeb;
}

#whitebg {background:#fff;}

hr {
clear:both;
border-top:1px solid #dedede;
margin:30px 0;
}
	
#newtop {
width:100%;
padding-bottom:4em;
}

#newtop:after {
content: ".";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
}

/* - - CORE ZC - - */

FORM, SELECT, INPUT {
display: inline;
}

TEXTAREA {
margin: auto;
display: block;
width: 95%;
}

.centerBoxContents, .specialsListBoxContents, .categoryListBoxContents, .centerBoxContentsAlsoPurch, .attribImg {
float: left;
}

LABEL.inputLabel {
float: left;
}

LABEL.selectLabel, LABEL.switchedLabel, LABEL.uploadsLabel {
width: 11em;
float: left;
}

.clearBoth {
clear: both;
}

#navMain ul li, #navSupp ul li{
display: inline;
}

#navMain ul li a, #navSupp ul li a, #navCatTabs ul li a {
text-decoration: none;
white-space: nowrap;
}

#contentColumnMain,.specialsListBoxContents, .categoryListBoxContents, .additionalImages, .alert {
vertical-align: top;
}

.tableHeading, #cartSubTotal {
background-color: #e9e9e9;
 }

.tableRow, .tableHeading, #cartSubTotal {
height: 2.2em;
}

.cartProductDisplay, .cartUnitDisplay, .cartTotalDisplay, .cartRemoveItemDisplay, .cartQuantityUpdate, .cartQuantity, #cartInstructionsDisplay, .cartTotalsDisplay {
padding: 0.5em 0em;
}

.cartUnitDisplay, .cartTotalDisplay {
text-align: right;
padding-right: 0.2em;
}

#scUpdateQuantity {
width: 2em;
}

.cartRemoveItemDisplay {
width: 3.5em;
}

.normalprice, .productSpecialPriceSale {
text-decoration: line-through;
}

.orderHistList {
margin: 1em;
padding: 0.2em 0em;
list-style-type: none;
} 

.totalBox {
width:20%;
text-align: right;
}

.amount {width: 5.5em;}
.categoryIcon {}
.back {float: left;}
.forward{float: right;}
.hiddenField {display: none;}
.visibleField {display: inline;}

.accountTotalDisplay, .accountTaxDisplay {
width:20%;
text-align:right;
}

.accountQuantityDisplay {
width:10%;
vertical-align:top;
}
	
.information {padding: 10px 3px; line-height: 150%;}

.seDisplayedAddressLabel {
background-color:#85C285;
text-align: center;
}

.seDisplayedAddressInfo {
text-transform: uppercase;
text-align: center;
font-weight: bold;
}

#seShipTo {
padding: 0.2em;
}

/* - - MESSAGES - - */
.messageStackWarning, .messageStackError, .messageStackSuccess, .messageStackCaution {
padding:10px;
border:1px solid #acacac;
margin:0 0 20px;
}

.messageStackWarning img, .messageStackError img, .messageStackSuccess img, .messageStackCaution img {
display:none;
}

.messageStackWarning, .messageStackError {
border:1px solid #dc0000;
}

.messageStackSuccess {
border:1px solid #00bce4;
}

.messageStackCaution {
border:1px solid #f3b90a;
}

.alert {
color:#dc0000;
}
.advisory {}

.important {
font-weight: bold;
}

.notice {}

#headerWrapper {
background:#00bce4;
color:#FFF;
}

#footer {
clear:both;
background:#EBEBEB;
margin:1.4em 0 0;
padding:0 20px 3em;
}

#mainWrapper {
background-color:#ffffff;
text-align:left;
max-width:980px;
margin:auto;
padding:50px 20px 0;
clear:both;
}

.centerColumn {
position:relative;
}

/* - - MAIN GRID - - */

[class*='col-'] {float: left;}

.col-1-2 {width:50%;}

.col-1-3 {width:33.33%;}

.col-2-3 {width:66.66%;}

.col-1-4 {width:25%;}

.col-3-4 {width:75%;}

.col-1-5 {width:20%;}

.col-1-10 {width:10%;}

.col-3-10 {width:30%;}

.col-2-5 {width:40%;}

.col-45 {width:45%;}

.col-4-5 {width:80%;}

.col-3-5 {width:60%;}

.col-16 {width:16%;}

.col-22 {width:22%;}

.col-22 .menu-item {width:22%;}

.col-28 {width:28%;}

.col-35 {width:35%;float:right;}

.col-60 {width:60%;}

.in {
max-width:980px;
margin:0 auto;
padding:0 20px;
}



/* - - HEADER - - */

#headerWrapper .in:after,.testrow:after {
content: ".";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
}

#headerWrapper .in{
padding:0 20px 4em;
}

#logo {
/*margin:2em 0 0;*/
margin:29px 0 0;
}

#logo *{fill:#FFF;}

#navEZPagesTop {
float:right;
font-size:14px;
}

ul#navEZPagesTop li{
float:left;
}

ul#navEZPagesTop li ul {
left: -999em;
position: absolute;
background:#01abcf;
border-top:1px solid #ccf1fa;
padding:7px 0;
z-index:9999;
}

ul#navEZPagesTop li:hover ul,ul#navEZPagesTop li.hover ul {
left:auto;
}

ul#navEZPagesTop li ul li{
float:none;
text-align:left;
}

ul#navEZPagesTop li ul li a{
margin:0;
padding:7px 14px;
display:block;
}

#navEZPagesTop a,#navEZPagesTop li.nolink{
color:#fff;
margin:0 0 0 15px;
cursor:pointer;
}

#navEZPagesTop a:hover,#navEZPagesTop li.nolink:hover{
color:#d4f6ff;
}

#navCatTabs {
text-align:center;
height:50px;
line-height:50px;
font-size:1.4em;
position:absolute;
left:0;
top:-25px;
width:100%;
z-index:999;
}

#navCatTabs li {
float:left;
z-index:999;
height:50px;
-webkit-transform: translateZ(0);
}

.hold {
width:16%;
border:none!important;
background:none!important;
}

#navCatTabs li a {
display:block;
background:#FFF;
border-left:1px solid #b2ebf7;
color:#00bce4;
height:50px;
line-height:50px;
-webkit-transform: translateZ(0);
-webkit-transition:all .2s ease-in-out;
		-moz-transition:all .2s ease-in-out;
		-o-transition:all .2s ease-in-out;
		transition:all .2s ease-in-out;
}

#navCatTabs li#mct0 a {
border:none;
}

#navCatTabs li:hover a,#navCatTabs li a:hover {
background:#d4f6ff;
height:70px;
line-height:70px;
}

#navCatTabs li:hover {
/*border-top:0.5em solid #d4f6ff;
border-bottom:0.5em solid #d4f6ff;*/
margin-top:-10px;
height:70px;
}

#hatch {
background:url(../images/hatch.png);
height:160px;
}

#hatch .in {
position:relative;
z-index:999;
}

#navBreadCrumb{
color:#00bce4;
text-transform:uppercase;
font-size:32px;
line-height:30px;
padding:70px 0 0;
}

#navBreadCrumb div{float:left;}

#navBreadCrumb .hbc{
font-size:0.7em;
color:#00bce4;
opacity:0.5;
}

#navBreadCrumb .hbc:hover{
opacity:1;
}

#navBreadCrumb a {
color:#00bce4;
-webkit-transition:all .2s ease-in-out;
-moz-transition:all .2s ease-in-out;
-o-transition:all .2s ease-in-out;
transition:all .2s ease-in-out;
}

#navBreadCrumb a:after{
font-family:'epice';
content:" \e012";
font-size:0.7em;
color:#73e3ff;
}

#navBreadCrumb span {color:#73e3ff;}

#navBreadCrumb a:hover {
color:#73e3ff;
}

#navMainSearch {
float:right;
/*margin:2.1em 0 1.3em;*/
margin:30px 8px 13px 0;
}

#navMainSearch input#search {
-webkit-appearance: none;
float:right;
-webkit-transition: all .4s ease-in-out;
-moz-transition:all .4s ease-in-out;
-o-transition:all .4s ease-in-out;
transition:all .4s ease-in-out;
display:block;
position:relative;
outline:none;
line-height:16px;
border:none;
width:0px;
height:25px;
background:#4dd0ec;
font-family:'Open Sans';
}

#navMainSearch:hover input#search,#navMainSearch input#search:focus{
width:200px;
background:#fff;
padding:0 0.5em;
}

#navMainSearch #go {
line-height:25px;
height:25px;
width:25px;
background:#4dd0ec;
float:right;
border:none;
outline:none;
cursor:pointer;
font-size:1.3em;
text-align:center;
-webkit-transition: all .4s ease-in-out;
-moz-transition:all .4s ease-in-out;
-o-transition:all .4s ease-in-out;
transition:all .4s ease-in-out;
}

#navMainSearch:hover #go {
background:#FFF;
color:#00bce4;
}

ul#account {
/*margin:2.1em 0 1.3em;*/
margin:30px 0 13px;
height:25px;
line-height:25px;
color:#99e4f4;
float:right;
}

ul#account a {color:#99e4f4;}
ul#account a:hover {color:#fff;}


/* - - SHOPPING BAG - - */

#bagouter {
position:relative;
float:right;
/*margin:2.1em 0.7em 1.3em;*/
margin:30px 8px 13px 0;
z-index:9999;
}

#bag {
height:25px;
min-width:25px;
padding:0 5px;
line-height:25px;
background:#4dd0ec;
color:#FFF;
text-align:center;
display:block;
}

a#bag:hover,a#bag.active {
background:#FFF;
color:#00bce4;
}

#bagholder {
position:absolute;
top:25px;
left:50%;
margin:0 0 0 -160px;
display:block;
}

#shoppingbag {
background:#fff;
border-left:1px solid #d3edfa;
border-right:1px solid #d3edfa;
border-bottom:3px solid #00bce1;
width:18em;
font-size:1.4em;
text-transform:uppercase;
}

#shoppingbag #bottom {
background:#d4f6ff;
padding:15px;
color:#abafae;
overflow:hidden;
}

#shoppingbag #bottom p{margin:0;}
#shoppingbag #bottom p strong{font-weight:bold;font-size:1.5em;display:block;margin:1px 0 0;}

#shoppingbag #bottom a{color:#fff;background:#00bce4;display:block;float:right;height:40px;line-height:40px;padding:0 10px;}
#shoppingbag #bottom a:after{
font-family:'epice';
content:" \e00f";
font-size:0.7em;
}

#shoppingbag #bottom a:hover {
background:#73e3ff;
}

#shoppingbag .item {
border-bottom:1px solid #d3edfa;
padding:15px 0;
overflow:hidden;
color:#acacac;
}

#shoppingbag .item a{
color:#707070;
}

#shoppingbag .item .col-1-5 {text-align:center;}

#shoppingbag .item img{
width:auto;
height:60px;
}

#shoppingbag .item div.product{
float:left;
width:80%;
}

#shoppingbag .item div p{
line-height:1.2em;
margin:0;
}

#shoppingbag .item .del{
float:right;
color:#04bae9;
font-size:0.5em;
margin:0 15px 0 0;
}
#shoppingbag .item .deleteItem { font-family:arial; font-weight:normal; font-style:normal; background:none; font-size:0.75em; }
	
/* - - FOOTER - - */

#footer:after {
content: ".";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;
}

#footer .in {position:relative;max-width:940px;padding:0;}

#socialfoot div {
text-align:center;
color:#fff;
height:2.8em;
line-height:2.8em;
font-size:1.5em;
text-transform:uppercase;
margin-top:-1.4em;
overflow:hidden;
position:absolute;
bottom:-0.5em;
}

#socialfoot div:hover {
height:5.6em;
line-height:5.6em;
}

#socialfoot div a{
color:#fff;
display:block;
}

#socialfoot div a:before {
font-family:'epice';
font-size:1.2em;
float:left;
margin:0 0 0 15px;
font-weight: normal;
font-variant: normal;
text-transform: none;
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.footfb {background:#00bce4;left:0;}
.footfb a:before{content:"\e00c ";}
.foottw {background:#19c3e7;left:20%;}
.foottw a:before {content:"\e001 ";}
.footyt {background:#33c9e9;left:40%;}
.footyt a:before {content:"\e000 ";}
.footpin {background:#4cd0ec;left:60%;}
.footpin a:before {content:"\e007 ";}
.footepi {background:#66d7ef;left:80%;}
.footepi a:before {content:"\e00a ";}

.right {
font-size:3em;
color:#61d5ee;
}

#socialfoot div span.icon{
font-size:1em;
}

#socialfoot div span.arrow{
float:right;
font-size:2.9em;
color:#80ddf1;
}

#flogo{margin:40px 0 0;}
#flogo #svg {width:60%;}
#flogo *{fill:#a9aaad;}
#flogo .logo1 {fill:#00bce4;}

#ezpf {
float:right;
margin:50px 0 0;
text-align:right;
-webkit-transform:translateZ(0);
}

#ezpf a {
color:#00bce4;
margin:0 0 0 16px;
}

#ezpf a:hover {color:#707070;}

#ezpf a:first-child {font-weight:bold;}

#siteinfoLegal {
clear:both;
text-align:right;
margin:10px 0 0;
}


/* - - HOME PAGE - - */
#indexDefaultMainContent {
clear:both;
margin:60px 0 30px;
border-top:1px solid #e6e6e6;
}

#indexDefaultMainContent h4{
text-transform:uppercase;
text-align:center;
font-size:31px;
height:50px;
line-height:50px;
margin:-25px auto 20px;
background:#fff;
width:60%;
}

#indexDefaultMainContent h4 span{
color:#70d9f0;
font-size:28px;
}

#indexDefaultMainContent .col-2-5 img{
width:100%;
height:auto;
}

#indexDefaultMainContent div.col-3-5 {
padding:9% 4.5%;
}

#indexDefaultMainContent a{
display:block;
clear:both;
margin:20px 0;
}

#indexDefaultMainContent a.condensed:hover{
color:#73e3ff;
}

/* - - PRODUCT LISTING - - */

#categoryImgListing img {
margin-top:-80px;
width:100%;
height:auto;
}

#hatch.taller {height:260px;}

.productlisting {
margin:35px 0;
height:13em;
border-left:1px solid #fff;
-webkit-perspective: 1000;
-moz-perspective: 1000;
perspective: 1000;
}




.productlisting:hover .back, .productlisting.hover .back {
    -webkit-transform: rotateY(0deg);
    -moz-transform: rotateY(0deg);
    -o-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.productlisting:hover .front, .productlisting.hover .front {
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.flipper {
-webkit-transition: 0.6s;
-webkit-transform-style: preserve-3d;
-moz-transition: 0.6s;
-moz-transform-style: preserve-3d;
transition: 0.6s;
transform-style: preserve-3d;
position: relative;
}

.flipper .front, .flipper .back {
-webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-transition: 0.6s;
    -webkit-transform-style: preserve-3d;

    -moz-transition: 0.6s;
    -moz-transform-style: preserve-3d;

    -o-transition: 0.6s;
    -o-transform-style: preserve-3d;

    -ms-transition: 0.6s;
    -ms-transform-style: preserve-3d;

    transition: 0.6s;
    transform-style: preserve-3d;
width:100%;
position: absolute;
top: 0;
left: 0;
}

.flipper .front {
z-index:2;
padding:10px 0 0;
}

.flipper .back {
-webkit-transform: rotateY(180deg);
-moz-transform: rotateY(180deg);
transform: rotateY(180deg);
background:#00bce4;
color:#FFF;
padding:10px 0 10px 20px;
}

.productlisting img {height:auto;}
.productlisting .listingDescription{margin:15px 20px 5px 0;}

.productlisting .price {text-transform:uppercase;}

.productlisting .col-1-3 {
padding:0 10px;
height:100%;
}

.productlisting .col-1-3 img{width:100%;height:auto;}

.productlisting h3.itemTitle {
text-transform:uppercase;
}

.productlisting a.lm {
display:block;
float:left;
text-transform:uppercase;
margin:10px 0 0;
letter-spacing:0;
}

.productlisting a.lm:after {
font-family:'epice';
content:" \e00f";
font-size:0.7em;
}

.productlisting .platbb {
border:none;
border-left:1px solid #bcedf7;
margin:10px 0 0 25px;
padding:0 0 0 25px;
background:none;
color:#bcedf7;
float:left;
cursor:pointer;
text-transform:uppercase;
letter-spacing:0;
}

.productlisting .platbb:after {
font-family:'epice';
content:"\e023";
font-size:12px;
float:right;
margin:0 0 0 5px;
}

.productlisting .platbb.clicked:after {
content:"";
}

.productlisting .back a.lm{color:#bcedf7;}

.productlisting .platbb:hover,.productlisting .back h3.itemTitle a,.productlisting .back a.lm:hover {color:#fff;}

.line,.box1,.box2,.box4,.box5,.box7,.box8,.box10,.box11 {
border-left:1px solid #e6e6e6;
}

#refine {
background:#f8feff;
border:1px solid #d0eff7;
border-bottom:2px solid #00bce4;
overflow:hidden;
text-transform:uppercase;
display:none;
position:relative;
z-index:998;
clear:both;
top:-1px;
}

#refine li{
text-align:center;
font-size:24px;
padding:20px 0;
}

#refine li a{
display:block;
height:60px;
line-height:60px;
border-left:1px solid #e1e5e6;
}

#refine li a:after{
font-family:'epice';
content:" \e00f";
font-size:0.7em;
}

#refine li:hover a,#refine li a:hover{color:#fff;}

#refine li a.refcount1,#refine li a.refcount4,#refine li a.refcount7{border:none;}

#ref {
cursor:pointer;
font-size:16px;
letter-spacing:0;
padding:0 8px;
height:40px;
line-height:40px;
margin:-4px 0 0 10px;
font-family:'Open Sans';
color:#5dd4ed;
position:relative;
z-index:999;
}

#ref.active {
background:#f8feff;
border:1px solid #d0eff7;
border-bottom:none;
}

#ref:hover {color:#00bce4;}

#ref:after {
font-family:'epice';
content:"\e011";
font-size:14px;
display:block;
float:right;
margin:0 0 0 5px;
-webkit-transition:all .4s ease-in-out;
-moz-transition:all .4s ease-in-out;
-o-transition:all .4s ease-in-out;
transition:all .4s ease-in-out;
}

#ref.active:after {
transform:rotate(180deg);
-ms-transform:rotate(180deg);
-webkit-transform:rotate(180deg);

}

#refine li.cleansers:hover,#refine li.showall:hover {background:#23c8f0;}
#refine li.cleansers:hover a,#refine li.showall:hover a{border-color:#23c8f0;}
#refine li.moisturizers:hover,#refine li.for-men:hover,#refine li.for-women:hover {background:#8ddaed;}
#refine li.moisturizers:hover a,#refine li.for-men:hover a,#refine li.for-women:hover a{border-color:#8ddaed;}
#refine li.serums:hover {background:#8693f4;}
#refine li.serums:hover a{border-color:#8693f4;}
#refine li.specialties:hover {background:#80db82;}
#refine li.specialties:hover a{border-color:#80db82;}
#refine li.packages:hover {background:#d5d5d5;}
#refine li.packages:hover a{border-color:#d5d5d5;}
#refine li.accessories:hover {background:#707070;}
#refine li.accessories:hover a{border-color:#707070;}
#refine li.accessories:hover a{border-color:#707070;}
#refine li.samples:hover {background:#E3AAD6;}
#refine li.samples:hover a{border-color:#E3AAD6;}

	/* - - ISOTOPE - - */
	.isotope-item {
	z-index: 2;
	}

	.isotope-hidden.isotope-item {
	 pointer-events: none;
	 z-index: 1;
	}

	.isotope,.isotope .isotope-item {
	  -webkit-transition-duration: 0.8s;
		 -moz-transition-duration: 0.8s;
		  -ms-transition-duration: 0.8s;
		   -o-transition-duration: 0.8s;
			  transition-duration: 0.8s;
	}

	.isotope {
	  -webkit-transition-property: height, width;
		 -moz-transition-property: height, width;
		  -ms-transition-property: height, width;
		   -o-transition-property: height, width;
			  transition-property: height, width;
	}

	.isotope .isotope-item {
	  -webkit-transition-property: -webkit-transform, opacity;
		 -moz-transition-property:    -moz-transform, opacity;
		  -ms-transition-property:     -ms-transform, opacity;
		   -o-transition-property:      -o-transform, opacity;
			  transition-property:         transform, opacity;
	}

/* - - PRODUCT INFO - - */

#productName {text-transform:uppercase;line-height:22px;}

#productName .s {text-transform:none;}

p.catname {
border-bottom:1px solid #dedede;
padding:0 0 35px;
margin:5px 0 20px;
}

#productPrices {
margin:0 0 15px;
overflow:hidden;
}

#stockline {border-left:1px solid #acacac;margin:5px 15px 0;float:left;height:25px;display:block;}
#stock {float:left;}

#productDescription h3,#productDescription h4,#productDescription h5 {
margin:0 0 10px;
}

#productDescription ul {
margin:0 0 1.5em;
}

#productDescription ul li {
margin:0 0 10px;
position:relative;
padding:0 0 0 20px;
color:#707070;
}

#productDescription ul li:before {
font-family:'epice';
content:"\e012";
padding:0 10px 0 0;
position:absolute;
left:0;
top:0;
}

#productMainImage {
text-align:center;
width:100%;
margin:0 0 25px;
padding:20px 0;
}

#productMainImage img{
max-width:80%;
height:auto;
}

#cartAdd {clear:both;margin:25px 0;overflow:hidden;}

input#cqty {
border:1px solid #dfdfdf;
height:30px;
}

#cartAdd input[type="number"]{
float:left;
height:54px;
width:25%;
text-align:center;
font-size:22px;
color:#707070;
}

#cartAdd input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    cursor:pointer;
    display:block;
    width:25px;
	height:52px;
	background:#eee;
    color:#707070;
    text-align:center;
    position:relative;
}

#cartAdd input[type=number]::-webkit-inner-spin-button:before,
#cartAdd input[type=number]::-webkit-inner-spin-button:after {
	font-family:'epice';
    content: "\e00e";
    position:absolute;
    right:0;
	text-align:center;
	width:25px;
	font-size:17px;
	height:22px;
	color:#acacac;
}

#cartAdd input[type=number]::-webkit-inner-spin-button:before {
    top:3px;
	border-bottom:1px solid #fff;
}

#cartAdd input[type=number]::-webkit-inner-spin-button:after {
bottom:3px;
transform:rotate(180deg);
-ms-transform:rotate(180deg);
-webkit-transform:rotate(180deg);
}

#cartAdd a.pseudo{
float:right;
height:54px;
line-height:54px;
padding:0 10px;
}

#addthis {
width:152px;
margin-bottom:40px;
}

#share {
background:#f5f5f5;
border:1px solid #acacac;
text-align:center;
padding:0 15px;
display:none;
clear:both;
margin-top:-1px;
}

#handle {overflow:hidden;}

#handle span{
float:left;
height:18px;
line-height:18px;
cursor:pointer;
}

#handle span#si{
background:#acacac;
width:18px;
text-align:center;
border:1px solid #acacac;
float:right;
}

#handle span#si:after {
font-family:'epice';
content:"\e011";
color:#f9f9f9;
font-size:10px;
}

#handle.active span#si{
background:#f5f5f5;
border-bottom:1px solid #f5f5f5;
height:24px;
}

#handle.active span#si:after {
color:#acacac;
}

[class*='st-']{
font-family:'epice';
color:#00bce4;
font-size:18px;
margin:7px 0;
display:inline-block;
}

.st-twitter:after {
content:"\e001";
color:#0689e0;
}

.st-facebook:after {
content:"\e00d";
color:#3b5997;
}

.st-googleplus:after {
content:"\e00b";
color:#383636;
}

.st-pinterest:after {
content:"\e008";
color:#cb2027;
}

.st-email:after {
content:"\e009";
}

	/* - - CLEANSERS - - */
	.cleansers #productMainImage {
	border:1px solid #22c8f0;
	background:#f8fdff;
	}	
	
	/* - - MOISTURIZERS - - */
	.moisturizers #productMainImage,.for-women #productMainImage,.for-men #productMainImage {
	border:1px solid #8ddaed;
	background:#f8fdff;
	}	
	
	/* - - SERUMS - - */
	.serums #productMainImage {
	border:1px solid #8692f4;
	background:#f8f8ff;
	}	
	
	/* - - SPECIALTIES - - */
	.specialties #productMainImage {
	border:1px solid #81db83;
	background:#f5fff6;
	}	
	
	/* - - PACKAGES - - */
	.packages #productMainImage {
	border:1px solid #d5d5d5;
	background:#fafafa;
	}	
	
	/* - - ACCESSORIES - - */
	.accessories #productMainImage {
	border:1px solid #707070;
	background:#fafafa;
	}

	/* - - Samples - - */
	.samples #productMainImage {
	border:1px solid #E3AAD6;
	background:#fafafa;
	}

	
	/* - - ALSO PURCHASED - - */
	#alsoPurchased {clear:both;border-top:1px solid #dedede;margin:20px 0 0;padding:30px 0 0;}
	
	#alsoPurchased h2.head2 {margin:20px 0 0;}
	
	

/* - - SHIPPING AND RETURNS - - */
#shippingInfo h1,#shippingInfo h2,#shippingInfo h3,#shippingInfo h4, #shippingInfo h5 {
font-family: 'Open Sans Condensed';
letter-spacing: 1px;
text-transform:uppercase;
color:#00bce4;
font-size:29px;
margin:40px 0 20px;
}

#shippingInfo h1 {margin:0 0 20px;}

ol li  {
margin:0 0 15px;
position:relative;
list-style:none;
padding:0 0 0 15px;
}

ol.big li {padding:0 0 0 20px;}

ol{
counter-reset:my-badass-counter;
}

ol.big li:before {
content:counter(my-badass-counter)".";
counter-increment:my-badass-counter;
position:absolute;
left:0;
top:3px;
font-family:'Open Sans Condensed';
font-size:1.4em;
color:#00bce4;
}

ol li:before {
content:counter(my-badass-counter)".";
counter-increment:my-badass-counter;
position:absolute;
left:0;
top:0;
font-family:'Open Sans Condensed';
font-size:1em;
color:#00bce4;
}

/* - - POLICIES - - */
#privacy h1,#privacy h2,#privacy h3,#privacy h4, #privacy h5 {
font-family: 'Open Sans Condensed';
letter-spacing: 1px;
text-transform:uppercase;
color:#00bce4;
font-size:29px;
margin:1.5em 0 0.5em;
}

#privacy h1 {margin-top:0;}

#privacy strong {font-weight:bold;}

ul.arrows {margin:0 0 1.5em;}

ul.arrows li {
margin:0 0 10px;
position:relative;
padding:0 0 0 20px;
}

ul.arrows li:before {
font-family:'epice';
content:"\e012";
color:#00bce4;
padding:0 10px 0 0;
position:absolute;
left:0;
top:0;
}

#privacy p.blue1 {margin-bottom:10px;}


/* - - LOGIN / REGISTER - - */
#loginDefault legend {
text-transform:uppercase;
color:#00bce4;
font-size:2em;
}

#loginDefault fieldset fieldset legend {
color:#707070;
text-transform:none;
font-weight:600;
font-size:16px;
margin:1em 0;
}

#loginDefault input[type="text"],#loginDefault input[type="password"],#loginDefault select,#checkoutNewAddress input[type="text"],#checkoutNewAddress select,#addnewadd input[type="text"],#addnewadd select,#addnewadd input[type="password"],#contestform input[type="text"]{
border:1px solid #dedede;
padding:0.4em;
height:40px;
margin-top:5px;
}

#existing input[type="text"],#existing input[type="password"] {padding:0.4em 20px;font-size:16px;}

#existing a.pseudo {height:50px;line-height:50px;float:right;padding:0 20px;}

#register input[type="text"],#register input[type="password"],#register select,
#addnewadd input[type="text"],#addnewadd input[type="password"],#addnewadd select,#contestform input[type="text"] {
width:72%;
float:left;
margin:15px 0 0;
font-size:16px;
}

#register input[type="checkbox"],#addnewadd input[type="checkbox"] {
border:1px solid #dedede;
padding:0.4em;
}

#loginForm .s{margin:0 0 1em;}
#loginForm .s a{color:#707070;}

#loginForm .col-1-10 {text-align:right;}
#loginForm .col-1-10 input {width:100%;height:50px;padding:0 10px;}
#loginForm input {width:96%;}

#loginDefault fieldset {border:none;padding:0;}

#epref,span.alert {display:none;}

#loginDefault input:focus,#loginDefault  select:focus {
border:1px solid #00bce4;
}

#loginDefault fieldset#register {padding:1em 0 0;}

#register legend.condensed {margin:0 0 0.7em;}

#register .inputLabel,#addnewadd .inputLabel {width:22%;height:40px;line-height:40px;margin:15px 0 0;}

.rrr {float:right;}

#register .rrr input[type="text"],#register .rrr input[type="password"] {float:right;}

#register .state .inputLabel,#addnewadd .state .inputLabel {width:44%;}
#register .state select,#addnewadd .state select {width:52%;}
#register .zip .inputLabel,#addnewadd .zip .inputLabel {width:44%;padding-right:4%;text-align:right;}
#register .zip input,#addnewadd .zip input {width:44%;}
#register a.pseudo {margin-top:20px;height:50px;line-height:50px;padding:0 20px;}

input::-webkit-input-placeholder,textarea::-webkit-input-placeholder {color:#acacac;font-style:italic;}
input:-moz-placeholder,textarea:-moz-placeholder {color:#acacac;font-style:italic;}
input::-moz-placeholder,textarea::-moz-placeholder {color:#acacac;font-style:italic;}
input:-ms-input-placeholder,textarea:-ms-input-placeholder {color:#acacac;font-style:italic;}

#checkhold {clear:both;width:100%;min-height:30px;margin-top:20px;}

#checkhold input[type=checkbox] {display:none;}

#checkhold label {
cursor:pointer;
}

#checkhold label:before {
font-family:'epice';
content:"\e021";
padding:0 10px 0 0;
font-size:18px;
float:left;
}

#checkhold label:hover:before {
font-family:'epice';
content:"\e020";
opacity:0.5;
}

#checkhold input[type=checkbox]:checked + label:before {
font-family:'epice';
content:"\e020";
color:#00bce4;;
}

label.wrapselect {
display:block;
float:left;
width:72%;
position:relative;
}

label.wrapselect:before {
content:'\e003';
font:22px "epice";
color:#00bce4;
position:absolute;
right:2px;
top:16px;
pointer-events:none;
background:#fff;
height:38px;
width:38px;
text-align:center;
padding:8px 0 0;
}

#register label.wrapselect select,#addnewadd label.wrapselect select{
outline:none;
-webkit-appearance:none;
-moz-appearance:none;
appearance:none;
cursor:pointer;
background:none;
width:100%;
}

#register label.forstate,#addnewadd label.forstate{
width:52%;
}

#register label.error,#addnewadd label.error {
display:inline;
color:#dc0000;
font-style:italic;
margin-left:22%;
border:none!important;
}

#register .zip label.error,#addnewadd .zip label.error{margin-left:4%;}

h1#logoffDefaultHeading {margin:0 0 0.5em;}

/* - - CHECKOUT PROCESS - - */
	#tabs {
	border:1px solid #dedede;
	overflow:hidden;
	margin:0 0 40px;
	color:#dedede;
	height:66px;
	line-height:66px;
	font-size:16px;
	}

	#tabs [class*='col-'] {
	border-right:1px solid #dedede;
	text-align:center;
	}

	#tabs .col-16 {
	border:none;
	font-weight:bold;
	color:#00bce4;
	}

	#tabs .col-16 p{
	margin:0;
	float:right;
	}


	#tabs span {
	height:28px;
	line-height:26px;
	width:28px;
	display:inline-block;
	border:1px solid #dedede;
	border-radius:13px;
	margin:0 4px 0 0;
	}

	#tabs .active {
	color:#00bce4;
	}

	#tabs .active span{
	border:1px solid #4ccfed;
	}

	#tri {
	width: 0px;
	height: 0px;
	border-style: solid;
	border-width: 33px 20px 33px 0;
	border-color: transparent #d4f6ff transparent transparent;
	float:right;
	margin:0 -1px 0 15px;
	}

	/* - - SHIPPING DETAILS - - */
	#checkoutShipping .strong {
	margin:0 0 10px;
	}
	
	.addbooke {margin:20px 0 0;}

	.optionswrap input[type=radio],.addbooke input[type=radio] {display:none;}

	.optionswrap label,.addbooke label {
	cursor:pointer;
	}

	.optionswrap label:before,.addbooke label:before {
	font-family:'epice';
	content:"\e01e";
	padding:0 5px 0 0;
	font-size:15px;
	}

	.optionswrap label:hover:before,.addbooke label:hover:before {
	font-family:'epice';
	content:"\e01d";
	opacity:0.5;
	}

	.optionswrap input[type=radio]:checked + label:before,.addbooke input[type=radio]:checked + label:before {
	font-family:'epice';
	content:"\e01d";
	color:#00bce4;;
	}
	
	#checkoutShipping #comments {margin-top:20px;}
	
	.inverse .cssButton,.inverse a.pseudo{
	background:#fff;
	border:1px solid #fff;
	color:#00bce4;
	font-size:29px;
	padding:10px 0;
	}
	
	.inverse .cssButtonHover,.inverse .cssButton:hover,.inverse a.pseudo:hover{
	font-size:29px!important;
	background:#fff;
	border:1px solid #fff;
	color:#73e3ff;
	padding:10px 0;
	} 
	
	/* - - PAYMENT DETAILS - - */
	#comments textarea {
	border:1px solid #dedede;
	padding:10px;
	width:100%;
	}
	
	#paymentbag .item {
	overflow:hidden;
	border-bottom:1px solid #dedede;
	margin:15px 0 0;
	padding:0 0 15px;
	text-transform:uppercase;
	font-size:19px;
	}
	
	#paymentbag .item:last-child {border:none;}
	
	#paymentbag .item .col-16 img{
	height:70px;
	width:auto;
	}
	
	#paymentbag .item .col-2-5 {width:44%;}
	
	#paymentbag .item .main {font-size:19px;}
	
	#paymentbag .tar {font-size:15px;}
	
	#paymentbag .item input[type="text"]{
	border:1px solid #dedede;
	text-align:center;
	padding:5px 0;
	width:35px;
	margin-top:4px;
	}
	
	#paymentbag .item input[type="submit"]{
	text-transform:uppercase;
	border:none;
	background:none;
	cursor:pointer;
	}
	
	#checkoutOrderTotals,#orderTotals {font-size:19px;border-bottom: 1px solid #dedede;padding:0 0 20px;margin:20px 0;line-height:28px;}
	
	#checkoutOrderTotals #ottotal{color:#00bce4;}
	
	.cartt {
	float:right;
	clear:both;
	}
	
	#disc-ot_coupon {
	border:1px solid #dedede;
	padding:0.4em;
	width:75%;
	margin:5px 0 0;
	height:40px;
	}
	
	input.gvapply {height:50px;padding:0 20px;line-height:50px;}
	
	#coups {clear:both;margin:0 0 20px;font-family:'Open Sans';}
	fieldset#coups legend {display:none;}
	
	.gvapply {width:20%;}
	
	LABEL.inputLabelPayment {width:30%;height:40px;line-height:40px;float:left;}
	
	.ccinfo input[type="text"] {
	width: 64%;
	float:right;
	margin: 0 0 0.8em;
	border: 1px solid #dedede;
	padding: 0.4em;	
	height:40px;
	}
	
	.ccinfo select {border: 1px solid #dedede;padding:0.4em;margin:0 0 10px;height:40px;outline:none;-webkit-appearance:none;-moz-appearance:none;appearance:none;cursor:pointer;background:none;}
	
	#ccexp {float:right;width:64%;}
	
	#ccexp label.forccm {width:70%;}
	#ccexp label.forccy {width:28%;float:right;} 
	#ccexp label.forccm:before,#ccexp label.forccy:before{top:1px;}
	#ccexp #authorizenet_aim-cc-expires-month {width:100%;}
	#ccexp #authorizenet_aim-cc-expires-year {width:100%;float:right;}
	
	
	/* - - REVIEW ORDER - - */
	.step3prod {
	clear:both;
	border-bottom:1px solid #dedede;
	padding:0 0 15px;
	margin:15px 0 0;
	overflow:hidden;
	font-size:19px;
	}
	
	.step3prod .col-2-5 {width:52%;}
	
	#orderTotals {border:none;padding:0px;}
	#orderTotals #ottotal {color:#00bce4;font-size:24px;}
	
	#checkoutConfirmDefault .strong {margin:0 0 10px;}
	
	input.button_confirm_order {height:60px;line-height:60px;padding:0 20px;}
	
	.nobold .important {font-weight:normal;}
	.nobold .back {padding-right:4px;}
	
/* - - SITEMAP - - */
#siteMap strong.blue1 {
text-transform:uppercase;
display:block;
}

#siteMap ul {margin:0 0 40px;}
#siteMap ul li{margin:12px 0;}
#siteMap ul li a{color:#707070;}

/* - - ABOUT EPICE - - */
.about {text-align:center;}
.about p {width:70%;margin:0 auto 1.5em;}
.about p.sub1 {width:70%;margin:0 auto 1.5em;font-size:17px;}
.about .col-1-4 .circle {
height:0;
padding-bottom:100%;
border-radius:50%;
background: rgba(212, 246, 255); 
background: rgba(212, 246, 255, 0.5); 
margin:10px 0 50px;
}

.about .col-1-4 .circle img{
max-width:30%;
height:auto;
margin-top:15%;
}

#apre{margin:0 -4% 0 6%;}
#apro{margin:0 -2% 0 0;}
#aach{margin:0 0 0 -2%;}
#amai{margin:0 0 0 -4%;}

.diamond {
background:#d4f6ff;
width:40px;
height:40px;
transform:rotate(45deg);
-ms-transform:rotate(45deg);
-webkit-transform:rotate(45deg);
position:relative;
margin:25px auto;
}

.diamond span {
transform:rotate(315deg);
-ms-transform:rotate(315deg);
-webkit-transform:rotate(315deg);
display:block;
font-size:2em;
position:absolute;
left:6px;
top:9px;
}

.hol span {
left:8px;
top:9px;
}

.mission h4 {
letter-spacing:1px;
font-weight:bold;
margin:0 0 10px;
}

.mission p {width:90%;}

#pipeline {clear:both;padding:30px 0 10px;}

#pipeline .diamond {
background:#e6e6e6;
width:36px;
height:36px;
margin:25px auto 15px;
}

#pipeline .diamond span {
font-size:1.5em;
left:8px;
top:8px;
}

#pipeline p {
margin:0;
width:100%;
font-size:15px;
}

#pipeline strong {font-weight:600;}

/* - - CONTACT US - - */
#contactUsDefault .col-2-5 {padding:0 20px 0 0;}

#contactUsDefault h1,#contactUsDefault h2 {
text-transform:uppercase;
margin:0 0 20px;
}

#contactUsDefault strong {font-weight:bold;}

p#tel:before {
font-family:'epice';
content: "\e015  ";
color:#9fecfe;
}

p#tel {
border-bottom:1px solid #dedede;
padding:0 0 1.5em;
}

#contactUsDefault input[type="text"],#contactUsDefault textarea {
border:1px solid #dedede;
padding:0.4em;
margin-top:15px;
width:100%;
height:40px;
font-size:16px;
font-style:italic;
}

#contactUsDefault textarea {
margin:15px 0 0;
min-height:120px;
}

#contactUsDefault input[type="text"]:focus,#contactUsDefault textarea:focus {
border:1px solid #00bce4;
}

#contactUsDefault a.pseudo{
float:left;
margin:15px 0 0;
}

#contactUsDefault span.afar {
display:block;
float:left;
height:62px;
line-height:62px;
margin:15px 0 0 15px;
}

#contactUsDefault input.error,#contactUsDefault textarea.error,#register .error,#gvr input.error,#addnewadd .error {border:1px solid #dc0000!important;}
#contactUsDefault label.error,#gvr label.error {
display:inline;
color:#dc0000;
font-style:italic;
}

#gvr label.error {width:64%;float:right;margin:-10px 0 5px;}

#contactUsDefault iframe {border:8px solid #e1e1e1;}

#contactUsDefault #thanks,.contest #thanks{
display:none;
font-style:italic;
font-size:20px;
padding:10px;
}

/* - - STORE LOCATOR - - */

.locator h1 {text-transform:uppercase;text-align:center;margin:0 0 40px;}

#sltabs li .fade {
position:relative;
height:100px;
width:100px;
margin:0 auto 10px;
display:block!important;
}

#sltabs li .fade img {
position:absolute;
top:0;
left:0;
-webkit-transition: opacity 0.4s ease-in-out;
-moz-transition: opacity 0.4s ease-in-out;
-o-transition: opacity 0.4s ease-in-out;
transition: opacity 0.4s ease-in-out;
opacity:1;
height:100px;
width:100px;
}

#sltabs li .fade img.default:hover {
opacity:0;
}

#sltabs li{list-style:none;text-align:center;text-transform:uppercase;}

#sltabs li a span{display:block;}



#sltabs li a span.down{opacity:0;filter:alpha(opacity=0);}

#sltabs li a:hover img{opacity:0.5;filter:alpha(opacity=50);}

#sltabs li.active a img.act{opacity:1;filter:alpha(opacity=100);}
#sltabs li.active a img.default,#sltabs li a:hover img.default{opacity:0;filter:alpha(opacity=0);}

* html #sltabs li{display:inline;}

#sltabs ul li a:hover{color:#c9c9c9;}

#sltabs ul li.active a.s span{color:#707070;}

#sltabs ul li.active a.s span.down{opacity:1;filter:alpha(opacity=100);color:#00bce4;}

#sltabs .wrap{clear:both;overflow:hidden;}

#sltabs .wrap h4{clear:both;border-bottom:1px solid #dedede;padding:0 0 20px;margin:20px 0;text-align:center;}

#sltabs .wrap:after{
content: ".";
display: block;
clear: both;
visibility: hidden;
line-height: 0;
height: 0;}

#sltabs ul li a{display:block;}

.location{
display:block!important;
text-align:center;
margin:20px 0 0;
}

.location strong {
display:block;
font-weight:bold;
border-top:1px solid #dedede;
padding:30px 0 0;
}

.location p {
margin:0 auto 10px;
width:80%;
}

p.storetel:before,a.storeurl:before {
font-family:'epice';
color:#9decff;
font-size:1.2em;
}

p.storetel:before {
content:"\e016  ";
} 

a.storeurl:before {
content:"\e014   ";
} 

.location a.blue1:after {
font-family:'epice';
content:" \e00f";
color:#73e3ff;
font-size:0.8em;
}

.location a.blue1:hover {
color:#7b7b7b;
}

.location.count1,.location.count2,.location.count3 {
margin-top:-20px;
}

.count1 strong,.count2 strong,.count3 strong {
border-top:none;
}


/* - - TESTIMONIALS - - */
.testimonials h1 {text-transform:uppercase;margin:0 0 40px;}

.testl {padding-right:10px;}
.testr {padding-left:10px;}

.speak {padding:20px;}

.testl div,.testr div {}

.test1 .speak,.test6 .speak,.test11 .speak,.test16 .speak,.comm1 {background:#d4f6ff;}
.test2 .speak,.test7 .speak,.test12 .speak,.test17 .speak,.comm2 {background:#e7eafd;}
.test3 .speak,.test8 .speak,.test13 .speak,.test18 .speak,.comm3 {background:#ccf2cd;}
.test4 .speak,.test9 .speak,.test14 .speak,.test19 .speak,.comm4{background:#dedede;}
.test5 .speak,.test10 .speak,.test15 .speak,.test20 .speak,.comm5 {background:#a7e9f9;}

.testitri {
width:0px;
height:0px;
border-style:solid;
border-width:17.3px 10px 0 10px;
margin:0 0 0 20px;
}

.test1 .testitri,.test6 .testitri,.test11 .testitri,.test16 .testitri {border-color:#d4f6ff transparent transparent transparent;}
.test2 .testitri,.test7 .testitri,.test12 .testitri,.test17 .testitri {border-color:#e7eafd transparent transparent transparent;}
.test3 .testitri,.test8 .testitri,.test13 .testitri,.test18 .testitri {border-color:#ccf2cd transparent transparent transparent;}
.test4 .testitri,.test9 .testitri,.test14 .testitri,.test19 .testitri {border-color:#dedede transparent transparent transparent;}
.test5 .testitri,.test10 .testitri,.test15 .testitri,.test20 .testitri {border-color:#a7e9f9 transparent transparent transparent;}

.nom:before {
font-family:'epice';
content:"\e018   ";
font-weight:normal;
}

.nom{
padding:0 0 0 23px;
margin:0 0 30px;
font-weight:bold;
}

.load_more,.animation_image {width:100%;border-top:1px solid #dedede;display:block;padding:15px 0 0;cursor:pointer}
.load_more:after {font-family: 'epice';content: "\e011";font-size:0.8em;margin-left:5px;}
.load_more:hover{color:#73e3ff;}

.nmt{cursor:default;}
.nmt:after{content:"";}
.nmt:hover{color:#00bce4;}

.testim {width:50%;float:left;}

#tellus {
margin:30px auto;
border:1px solid #dedede;
padding:20px;
overflow:hidden;
clear:both;
}

#tellus:hover {
border:1px solid #00bce4;
}

#tellus input[type="text"] {
font-family:'Open Sans';
font-size:20px;
height:42px;
line-height:42px;
-webkit-appearance:none;
float:left;
width:35%;
border-right:1px solid #99e4f4;
margin:11px 3% 0 0;
padding:0 30px 0 0;
color:#707070;
font-style:italic;
}

#tellus textarea {
height:42px;
-webkit-appearance:none;
float:left;
width:36%;
padding:10px 0 0;
font-family:'Open Sans';
font-size:20px;
color:#707070;
margin-top:11px;
font-style:italic;
}

#tellus a.pseudo {
float:right;
width:24%;
}

#tellus input.cssButton:hover {
background:#73e3ff;
border:1px solid #73e3ff;
}

#tellus input.error,#tellus textarea.error {border:1px solid #dc0000!important;}
label.error {}

#tellus #thanks {
display:none;
text-align:center;
font-style:italic;
font-size:20px;
padding:10px;
}

/* - - ASK DR SPICER - - */
#askvid {
background:url(../images/splash.jpg) center bottom no-repeat;
background-size:100%; 
text-align:center;
width:100%;
padding:0 0 75px;
}

iframe{max-width:100%;}

.ask h1 {
text-align:center;
margin:30px 0 10px;
}

p.askdrs {text-align:center;}

.ask .col-1-3 {
position:relative;
text-align:center;
margin:0 0 50px;
min-height:400px;
}

.ask .col-1-3 img{
width:85%;
margin:0 auto 20px;
display:block;
opacity:1;
filter:alpha(opacity=100);
}

.ask .col-1-3 img:hover {opacity: 0.4;filter:alpha(opacity=40);}

.ask .col-1-3 h4{
text-align:center;
margin:0 0 20px;
}

.ask .col-1-3 p{
width:85%;
margin:0 auto;
}

.ask .col-1-3 a:hover {color:#73e3ff;}

#thequestion {padding:20px;background:#d4f6ff;clear:both;}
.qtri {border-color:#d4f6ff transparent transparent transparent;}
.qnom:before{content:"";}

#theanswer{padding:20px;background:#ccf2cd;clear:both;}
.atri {border-color:#ccf2cd transparent transparent transparent;}

#thequestion strong,#theanswer strong {clear:both;display:block;}
#thequestion p,#theanswer p {margin:0;}

#noresults {text-align:center;margin:0 0 50px;}

#contestlink {width:20%;margin:0 auto; display:none;}

/* - - SUBSCRIBE - - */
#subscribe {
width:80%;
margin:30px auto;
border:1px solid #dedede;
padding:20px;
overflow:hidden;
}

#subscribe:hover {
border:1px solid #00bce4;
}

#subscribe input[type="text"] {
font-size:20px;
height:42px;
line-height:42px;
-webkit-appearance:none;
float:left;
width:36%;
font-size:1em;
margin-top:10px;
font-size:20px;
color:#707070;
font-style:italic;
}

#subscribe input#nm {
border-right:1px solid #99e4f4;
margin:10px 30px 0 0;
padding:0 30px 0 0;
}

#subscribe a.pseudo {
float:right;
width:23%;
}

#subscribe .error {border:1px solid #dc0000!important;}


/* - - NEWS AND MEDIA - - */

.news .col-1-3 {
position:relative;
text-align:center;
margin:0 0 50px;
min-height:373px;
}

.news .col-1-3 img{
width:85%;
margin:0 auto 20px;
display:block;
opacity:1;
filter:alpha(opacity=100);
border:1px solid #dedede;
min-height:185px;
}

.news .col-1-3 img:hover {opacity: 0.4;filter:alpha(opacity=40);}
input.productQty {
    border: 1px solid #DFDFDF;
    height: 30px;
}
#cartAdd input.proBtn {
    float: right;
    height: 54px;
    line-height: 54px;
    padding: 0 10px;
}
.newsdate {
color:#fff;
background:#00bce4;
padding:10px;
width:auto;
position:absolute;
top:20px;
left:0;
font-size:12px;
}

.news .col-1-3 h4{
text-align:center;
margin:0 0 20px;
}

.news .col-1-3 p{
width:85%;
margin:0 auto;
}

a.newsarrow:after {
font-family:'epice';
content:"  \e012";
}

.newspost a {color:#00bce4;}
.newspost a.pseudo {color:#fff;}

#newsfilter {margin:0 0 20px;overflow:hidden;}
#newsfilter select{border:none;padding:0.4em;height:46px;float:right;outline:none;-webkit-appearance:none;-moz-appearance:none;appearance:none;cursor:pointer;background:none;min-width:120px;color:#acacac;}
#newsfilter label.wrapselect{width:70%;float:right;}
#newsfilter label.wrapselect:before{top:3px;right:3px;color:#acacac;}
#newsfilter label.wrapselect span{height:46px;line-height:46px;display:block;}
#newsfilter input[type="text"]{float:right;height:36px;line-height:36px;padding:0 0 0 15px;margin:5px 0 0 5px;border-left:1px solid #00bce4;width:140px;}
#newsfilter input[type="text"]::-webkit-input-placeholder {color:707070;font-style:normal;}
#newsfilter input[type="text"]:-moz-placeholder {color:#707070;font-style:normal;}
#newsfilter input[type="text"]::-moz-placeholder {color:#707070;font-style:normal;}
#newsfilter input[type="text"]:-ms-input-placeholder{color:#707070;font-style:normal;}



#mainpost {
padding:20px 20px 0 0;
border-top:1px solid #dedede;
border-right:1px solid #dedede;
}

#mainpost a:hover, #sidebar a:hover, #prevnext a:hover {color:#73e3ff;}

.newsimg{margin:0 20px 20px 0;float:left;max-width:100%;}

.bt20 {margin-bottom:20px;}

#sidebar {padding:20px 0 30px 20px;border-top:1px solid #dedede;}

#sidebar img {width:100%;height:auto;border:1px solid #dedede;margin:15px 0 5px;}

#sidebar h4:after{font-family:'epice';content:"\e012";font-size:16px;margin-left:5px;}

#sidebar div {margin-bottom:15px;}

#prevnext {
border-top:1px solid #dedede;
padding:20px 0 50px;
clear:both;
}

#prevnext a{max-width:50%;}
#prevnext a.forward{text-align:right;}

#prevnext a.back:before{font-family:'epice';content:"\e010";font-size:19px;}
#prevnext a.forward:after{font-family:'epice';content:"\e00f";font-size:19px;}

.oneposttu {margin:20px 0!important;}

h4.hys {border-top:1px solid #dedede;margin:0 0 10px;padding:50px 0 0;}

.comment {padding:20px;margin:0 0 20px;}

.comment strong {font-weight:600;display:block;clear:both;}

/* - - RESET PASSWORD - - */

#passwordForgotten input[type="text"]{
border:1px solid #dedede;
padding:0.4em;
height:40px;
margin:10px 15px 0 0;
font-size:16px;
float:left;
width:50%;
}

#passwordForgotten input[type="text"]:focus{
border:1px solid #00bce4;
}


/* - - ACCOUNT - - */

.orderhistory {
margin:20px 0 0;
}

.orderhistory strong {font-weight:bold;}

#accountHistInfo h2.strong {margin:0 0 10px;}
#accountHistInfo #orderTotals {margin:0;font-size:1em;line-height:1.6em;}

/* - - SEARCH - - */
#advSearchDefault input[type="text"]{
height:40px;
border:1px solid #dedede;
padding:0.4em;
font-size: 16px;
font-style: italic;
margin:10px 10px 0 0;
}

/* - - FLORIDA CONTEST - - */
#contestform{overflow:hidden;}

#contestform .inputLabel {
width:20%;
height: 40px;
line-height: 40px;
margin: 15px 0 0 15%;
}

#contestform input[type="text"]{
width:50%;
}

#contestform input[type="text"].error{border:1px solid #dc0000!important;}
#contestform label.error{color:#dc0000;display:block;margin:5px 0 0 35%;clear:both;}

#contestform a.pseudo {
margin:30px auto;
float:none;
}

#contestform #checkhold {margin:0 0 0 35%;padding-top:20px;}
#contestform #checkhold label.error {display:inline;margin:0;}

.contest p {text-align:center;max-width:70%;margin-left:auto;margin-right:auto;}
form.wpsc_checkout_forms input[type="text"],
form.wpsc_checkout_forms textarea,
form.wpsc_checkout_forms select, 
td form.adjustform input[type="text"]{
	border: 1px solid #DEDEDE;
    height: 40px;
    margin: 15px 0 0;
    padding: 0.4em;
    width: 100%;
	color:#ACACAC;
	font-size:13px!important;
	font-family:'Open Sans',sans-serif;
	font-style:normal;
	float:none!important;
}
form.wpsc_checkout_forms textarea { resize:none; height:100px; }
table.checkout_cart { width:100%; }
table.checkout_cart td { padding:5px; border:1px solid #DEDEDE; font-size:15px; color:#707070; vertical-align:middle; }
table.checkout_cart td a { color:#707070; }
table.checkout_cart td a:hover { color:#00BCE4; }
table.checkout_cart th { padding:5px; border:1px solid #DEDEDE; color:#00BCE4; font-size:16px; }
.leftSide { float:left; width:370px; position:relative; top:-114px; }
.wpsc_make_purchase, 
.wpsc_checkout_table.table-1,
.wpsc_email_address { float:right; width:540px; }
td form.adjustform input[type="text"] { width:20%; height:30px; line-height:30px; margin:0px; }
td form.adjustform .blue1 { background:none; text-transform:uppercase; font-family:Open Sans Condensed; font-size:19px; cursor:pointer; }
#shippingsameasbillingmessage { margin-top:15px; display:block; }
.wpsc_billing_forms  h4,
.wpsc_checkout_form_9 label,
#shippingsameasbillingmessage,
.wpsc_shipping_forms h4,
.wpsc_gateway_container h3 {
	font-size: 16px;
    font-weight: 600;
}
.wpsc_checkout_form_9 label,
.wpsc_shipping_forms h4 { margin-bottom:15px; }
.wpsc_checkout_table.wpsc_checkout_table_totals { float:right; }
.wpsc_checkout_forms {
    clear: both;
    display: block;
    width: 100%;
}
td.wpsc_totals, td.wpsc_totals { padding:15px 5px 5px 5px; color:#00BCE4; font-size:22px; font-family:'Open Sans Condensed'; }
.wpsc_checkout_table.table-2 label { width:80px; display:inline-block; }
form.wpsc_checkout_forms #register input[type="text"],
form.wpsc_checkout_forms #register select,
form.wpsc_checkout_forms #register texarea { width:100%!important; }
.wpsc_make_purchase { text-align:right; margin-top:20px; }
form.wpsc_checkout_forms #register .wpsc_email_address_p #wpsc_checkout_form_9 { float:right!important; margin-top:19px; width:87%!important; }
.wpsc_checkout_table.table-2 .same_as_shipping_row label { width:150px; }
.wpsc_checkout_form_4,
.wpsc_checkout_form_13 { vertical-align:top; padding-top:5px; }
.wpsc_gateway_container h3 { margin:20px 0 5px; }
form.wpsc_checkout_forms #register .custom_gateway label { width:100px; }
.custom_gateway input[type="radio"] { margin-right:10px; }
.custom_gateway { margin-bottom:5px; }
.custom_gateway img { margin-left:-3px; }








/* - - R - - */


	/* - - MENU - - */
	@media screen and (min-width: 640px) {
	  .js .nav-collapse {
		position: relative;
	  }
	  .js .nav-collapse.closed {
		max-height: none;
	  }
	  #headerWrapper #toggle,.nav-collapse {
		display: none;
	  }
	}

@media screen and (max-width: 1024px){
	#socialfoot span.arrow {display:none;}
}

@media screen and (max-width: 930px){
	#indexDefault #indexDefaultMainContent {border:none;}
	#indexDefault #indexDefaultMainContent h4{width:100%;}
	#register .inputLabel {width:100%;height:24px;line-height:24px;}
	#register input[type="text"],#register input[type="password"],#register select {width:95%;margin-top:5px;}
	label.wrapselect:before{top:6px;}
	#register .rrr input[type="text"],#register .rrr input[type="password"] {float:left;width:100%;}
	#register .state,#register .zip {width:100%;}
	#register .state select,#register .zip input {width:95%;}
	#register .state .inputLabel,#register .zip .inputLabel {width:44%;text-align:left;}
	#register label.wrapselect{width:95%;} 
	#flogo {width:10%;}
	#flogo #svg{width:100%;}
	#ezpf {width:90%;}
	#indexDefault #op img,#indexDefault #ads img,#indexDefault #ae img {width:100%;margin:1.2em 0 0;position:static;}
	#indexDefault #op .col-2-5, #indexDefault #ads .col-2-5, #indexDefault #ae .col-2-5 {min-height:0;}
}

@media screen and (max-width: 860px){
	#indexDefault #op h1,#indexDefault #ads h2,#indexDefault #ae h3 {font-size:24px;}
	#indexDefault #op a.condensed,#indexDefault #ads a.condensed,#indexDefault #ae a.condensed{font-size:1em;}
	#flogo {width:100%;clear:both;text-align:center;}
	#flogo #svg{width:15%;}
	#ezpf {width:100%;margin:25px 0 0;text-align:center;}
	#ezpf a{margin:0 8px;}
	#siteinfoLegal {text-align:center;}
	#subscribe{width:100%;}
	.productlisting {width:50%;}
	.box2,.box4,.box6,.box8,.box10,.box12,.box14,.box16 {border:none;}
	.box1,.box3,.box5,.box7,.box9,.box11,.box13,.box15,.box17 {border-left: 1px solid #e6e6e6;}
	.ccinfo label.inputLabelPayment,.ccinfo input[type="text"],#ccexp {width:100%;}
	#contestform a.pseudo {width:30%;}
}

@media screen and (max-width: 800px){
	#cartAdd a.pseudo {clear:both;width:100%;margin-top:10px;}
}

@media screen and (max-width: 770px){
	#indexDefault #op h1,#indexDefault #ads h2,#indexDefault #ae h3 {font-size:20px;}
	#indexDefault #op a.condensed,#indexDefault #ads a.condensed,#indexDefault #ae a.condensed{font-size:0.9em;}
	#indexDefaultMainContent h4 {font-size:24px;}
	.slides .slidetag p {font-size:2em;}
	.locator .location {width:50%;}
	.locator .count3 strong {border-top:1px solid #dedede;padding:30px 0 0;}
	.locator .count3 {padding:20px 0 0;margin:0;}
	
	#tabs {border-right:none;}
	#tabs .col-28 {width:33%;}
	#tabs .active {width:34%;}
	#tabs .col-16 {display:none;}
	input.gvapply {clear:both;width:auto;margin-top:10px;}
	#disc-ot_coupon {width:100%;}
	#contestlink {width:40%;}
}

@media screen and (max-width: 670px){
	.productlisting {width:100%;margin:0 0 20px;}
	#productListing [class*='box'] {border:none;}
	#productName {line-height:30px}
	.productlisting .platbb {margin-left:10px;padding-left:10px;}
	.contest p {max-width:100%;}
}

@media screen and (max-width: 640px){
	#navEZPagesTop,#navCatTabs,#account,#navMainSearch,.flexslider .zcss-direction-nav,.flexslider #arrow {display:none;} {display:none;}
	#bagouter {margin:10px 10px 0 0;}
	#bag {height:40px;line-height:40px;}
	#bagholder{top:40px;right:-60px;left:auto;}
	#socialfoot div.col-1-5:hover {height:2.8em;line-height:2.8em;letter-spacing:2px;}
	#socialfoot div.col-1-5 {width:100%;position:static;margin:0;}
	#indexDefaultMainContent {border:none;margin:10px 0;}
	#indexDefaultMainContent [class*='col-'] {float:none;width:100%;}
	#indexDefaultMainContent h4 {height:auto;line-height:1.2em;margin:20px 0;}
	#indexDefaultMainContent h4 span {
	display:block;
	clear:both;
	transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	}
	#indexDefaultMainContent a {text-align:center;}
	#indexDefaultMainContent div.col-3-5 {padding:0;}
	.slides .slidetag p {font-size:1.6em;}
	#op,#ads,#ae{padding:20px;}
	#op .col-2-5,#ads .col-2-5,#ae .col-2-5{display:none;}
	#op .col-3-5,#ads .col-3-5,#ae .col-3-5{width:100%;}
	#indexDefault #op h1,#indexDefault #ads h2,#indexDefault #ae h3 {margin:0 0 2%;}
	.about .col-1-4 {font-size:18px;}
	#siteMap .col-1-4{width:50%;}
	#footer {padding:0 0 3em;}
	#flogo{margin:30px 0 0;}
	#flogo #svg{width:25%;}
	.flexslider .zcss-direction-nav a {display:none;}
	#navBreadCrumb{padding:0;}
	#navBreadCrumb div{padding:35px 0;font-size:20px;}
	#navBreadCrumb #ref{padding:0 8px;font-size:16px;margin:30px 0 0 10px;}
	#refine {top:-32px;} 
	#hatch,#hatch.taller {height:auto;overflow:hidden;}
	#arrow {display:none!important;}
	.nav-collapse {display:block;}
	.nav-collapse ul {
	  margin:0;
	  padding:0;
	  width:100%;
	  display:block;
	  list-style:none;
	  overflow:hidden;
	}
	.nav-collapse li {
	  width:50%;
	  float:left;
	  display: block;
	  padding:10px;
	  border-bottom:1px solid #00bce4;
	}
	.js .nav-collapse {
	  clip: rect(0 0 0 0);
	  max-height: 0;
	  position: absolute;
	  display: block;
	  overflow: hidden;
	  zoom: 1;
	}
	.nav-collapse.opened {
	  max-height: 9999px;
	}
	#toggle {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
	display:block;
	float:right;
	margin:10px -10px 0 0;
	color:#fff;
	background:#4dd0ec;
	z-index:999;
	font-size:1.5em;
	padding:10px;
	cursor:pointer;
	}
	.slidetag a {display:none;}
	#categoryImgListing {display:none;}
	
	#contestform .inputLabel {width:30%;margin:15px 0 0 5%;}
	#contestform input[type="text"]{width:60%;}
}

@media screen and (max-width: 550px){
	#indexDefault #op,#indexDefault #ads,#indexDefault #ae{width:100%;border:none;padding:0;}
	#op .col-2-5,#ads .col-2-5,#ae .col-2-5{display:block;}
	#op .col-3-5,#ads .col-3-5,#ae .col-3-5{width:60%;}
	#indexDefault #op h1,#indexDefault #ads h2,#indexDefault #ae h3 {margin:28% 0 2%;}
	.news .col-1-3,.ask .col-1-3 {width:50%;}
	#refine .col-1-3 {width:50%;}
	#refine .refcount3,#refine .refcount5,#refine .refcount7,#refine .refcount9,#refine .showall {border:none;}
	#refine li a.refcount4,#refine li a.refcount8 {border-left: 1px solid #e1e5e6;}
	#passwordForgotten input[type="text"]{width:100%;}
	#passwordForgotten a.pseudo{margin-top:10px;}
	#mainpost{width:100%;border:none;padding:20px 0;}
	#sidebar {clear:both;width:100%;padding:20px 0;}
	#sidebar div {width:50%;float:left;}
	#sidebar div img{width:95%;}
	#prevnext a {max-width:100%;clear:both;margin:0 0 20px;}
	.load_more {width:100%;}
	#contestform #checkhold {margin:0 0 0 5%;}
	#contestform a.pseudo {width:50%;}
}

@media screen and (max-width: 500px){
	.locator .location {width:100%;}
	.locator .count2 strong {border-top:1px solid #dedede;padding:30px 0 0;}
	.locator .count2 {padding:20px 0 0;margin:0;}
	.testimonials .col-1-2 {width:100%;}
	.testl,.testr {padding:0;height:auto!important;}
	.mission {width:100%;}
	#tellus input[type="text"],#tellus textarea {width:100%;}
	#tellus input[type="text"]{border-bottom:1px solid #99e4f4;border-right:none;margin-bottom:5px;margin-top:0;}
	#tellus textarea{margin-top:0;}
	#tellus input.cssButton {width:auto;display:block;float:none;margin:0 auto;}
	#productGeneral .col-35,#productGeneral .col-60 {width:100%;}
	#productGeneral .col-60{margin-top:20px;}
}

@media screen and (max-width: 380px){
	ul.slides .slidetag {top:10px;right:10px;width:50%;max-width:50%;margin:0;}
	ul.slides .slidetag span.top {display:none;}
	ul.slides .slidetag .slideline {width:50%;}
	ul.slides .slidetag p {padding:0 0 5px;}
	.news .col-1-3,.ask .col-1-3 {width:100%;min-height:10px;}
	.news .col-1-3{min-height:0;}
	#refine .col-1-3 {width:100%;}
	#refine li a{border:none;}
	#tabs .col-28 span {display:none;}
	#sidebar div,#sidebar div img {width:100%;}
	#contestform .inputLabel {width:30%;width:100%;margin:0;}
	#contestform label.error{margin:5px 0 0;}
	#contestform input[type="text"]{width:100%;margin:0 0 5px;}
	#contestform #checkhold{margin-left:0;}
}

@media screen and (max-width: 320px){
	.centerColumn{padding:0 20px;}
	#indexHomeBody .centerColumn{padding:0;}
	#hatch .flexslider{padding:0;}
	#indexDefaultMainContent {padding:0 5%;}
	#mainWrapper{padding:50px 0 0;}
	#siteMap .col-1-4 {width:100%;}
	#contactUsDefault .col-2-5,#contactUsDefault .col-3-5 {width:100%;padding:0;}
	#contactUsDefault h2 {margin-top:30px;}
	.about p {width:100%;margin:0 auto 1.5em;}
	.about .col-1-4 {font-size:14px;}
	#productListing .productlisting {width:100%;}
	.line {border:none;}
	#loginDefault [class*='col-'],#loginDefault [class*='col-'] input[type="text"],#loginDefault [class*='col-'] input[type="password"],#loginDefault [class*='col-'] select {width:100%;}
	#loginDefault .forward {width:100%;float:none;}
	#loginDefault legend.condensed{margin:0 0 0.7em;}
	#loginDefault .s{margin:0;}
	#loginDefault #existing a.pseudo{margin-top:5px;}
	#loginDefault .button_login,#loginDefault .button_submit{margin:5px 0 0;width:100%;}
	#loginDefault fieldset fieldset legend {margin:20px 0 0;}
	#loginDefault .rrr legend {padding-top:30px;}
	#loginDefault .rrr .back {float:none;}
	#register label.wrapselect{width:100%;clear:both;}
	#checkoutShipping .col-1-2,#checkoutPayment .col-1-2,#checkoutConfirmDefault .col-1-4,#checkoutConfirmDefault .col-1-2,#checkoutNewAddress .col-1-2 {width:100%;margin:0 0 20px;}
	#sltabs li a img{max-width:90%;}
	#ccexp label.forccm,#ccexp label.forccy{width:49%;}
}
.radioButtonLabel {margin-left: 5px;}
.user-profile-links { margin-bottom:15px; padding-top:15px; color:#00BCE4; font-size:15px; }
.user-profile-links a { font-size:20px; line-height:34px; margin-left:10px; margin-right:10px; font-family:Open Sans Condensed; letter-spacing:1px; color:#00BCE4; text-transform:uppercase; display:inline-block; vertical-align:middle; }
.user-profile-links a:first-child { margin-left:0px; }
.user-profile-links a.current { color:#7B7B7B; }
table.logdisplay td, table.logdisplay th { padding:5px 10px; }
table.logdisplay .alt img { margin-right:5px; }
table.logdisplay .alt a{ color:#00BCE4; }
.yourTable strong { font-size:16px; font-weight:600; display:block; margin-bottom:10px; margin-top:15px; }
.yourTable table { width:60%; }
.yourTable table td { padding:5px; }
.yourTable table input[type="text"],
.yourTable table textarea,
.yourTable table select{
border:1px solid #DEDEDE;
color:#ACACAC;
float:none;
font-family:'Open Sans',sans-serif;
font-size:13px;
font-style:normal;
height:40px;
margin:0 0 15px;
padding:0.4em;
width:100%;
}
.yourTable table textarea{
height:100px;
resize:none;	
}
.yourTable table .cssButton { float:right; }
.yourTable table.logdisplay { width:100%; }
.yourTable table.logdisplay th,
table.wpsc-purchase-log-transaction-results th {
    border: 1px solid #DEDEDE;
    color: #00BCE4;
    font-size: 16px;
    padding: 5px;
}
.yourTable table.logdisplay td,
table.wpsc-purchase-log-transaction-results td {
    border: 1px solid #DEDEDE;
    color: #707070;
    font-size: 15px;
    padding: 5px;
    vertical-align: middle;
}
.yourTable table.logdisplay td.details_totals_labels strong.detailStrong { margin:0px; font-size:14px; display:inline; }
.yourTable table.customer_details strong { margin:5px 0; }
.wpsc-transaction-results-wrap { padding-top:15px; }
table.wpsc-purchase-log-transaction-results { margin-bottom:15px; width:100%; }