@font-face {
	font-family: 'epice';
	src:url('//www.epiceinternational.com/fonts/epice.eot');
	src:url('//www.epiceinternational.com/fonts/epice.eot?#iefix') format('embedded-opentype'),
		url('//www.epiceinternational.com/fonts/epice.woff') format('woff'),
		url('//www.epiceinternational.com/fonts/epice.ttf') format('truetype'),
		url('//www.epiceinternational.com/fonts/epice.svg#epice') format('svg');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'epice';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */

.icon-youtube, .icon-twitter, .icon-shoppingbag, .icon-sharearrow, .icon-search, .icon-remove, .icon-refinearrow, .icon-pinterestp, .icon-pinterest, .icon-mail, .icon-hashtag, .icon-googleplus, .icon-facebookf, .icon-facebook, .icon-arrowup, .icon-arrowright, .icon-arrowleft, .icon-arrowdown, .icon-arrowbullet, .icon-addplus {
	font-family: 'epice';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.icon-youtube:before {
	content: "\e000";
}
.icon-twitter:before {
	content: "\e001";
}
.icon-shoppingbag:before {
	content: "\e002";
}
.icon-sharearrow:before {
	content: "\e003";
}
.icon-search:before {
	content: "\e004";
}
.icon-remove:before {
	content: "\e005";
}
.icon-refinearrow:before {
	content: "\e006";
}
.icon-pinterestp:before {
	content: "\e007";
}
.icon-pinterest:before {
	content: "\e008";
}
.icon-mail:before {
	content: "\e009";
}
.icon-hashtag:before {
	content: "\e00a";
}
.icon-googleplus:before {
	content: "\e00b";
}
.icon-facebookf:before {
	content: "\e00c";
}
.icon-facebook:before {
	content: "\e00d";
}
.icon-arrowup:before {
	content: "\e00e";
}
.icon-arrowright:before {
	content: "\e00f";
}
.icon-arrowleft:before {
	content: "\e010";
}
.icon-arrowdown:before {
	content: "\e011";
}
.icon-arrowbullet:before {
	content: "\e012";
}
.icon-addplus:before {
	content: "\e013";
}
.icon-website:before {
	content: "\e014";
}
.icon-phone:before {
	content: "\e015";
}
.icon-mobile:before {
	content: "\e016";
}
.icon-mail-2:before {
	content: "\e017";
}
.icon-like:before {
	content: "\e018";
}
.icon-ingredients:before {
	content: "\e019";
}
.icon-holistic:before {
	content: "\e01a";
}
.icon-development:before {
	content: "\e01b";
}
.icon-menu:before {
	content: "\e01c";
}
.icon-radioon:before {
	content: "\e01d";
}
.icon-radiooff:before {
	content: "\e01e";
}
.icon-home:before {
	content: "\e01f";
}
.icon-checkon:before {
	content: "\e020";
}
.icon-checkoff:before {
	content: "\e021";
}
